$main-blue: #00acdc;
$main-black: #060b35;
$main-grey: #616070;
$main-white: #fff;
$main-border-radius: 5px;
$font-size-medium: 12px;
$font-size-small: 10px;
$font-size-big: 16px;
$font-weight-title: 500;
$font-weight-description: 400;
$font-weight-big: 700;
$card-width: 200px;
$card-pading: 16px;
